@import "bootstrap/base-bootstrap";

//My Own Variables :)

//My Colors
$navy: #283277;
$seafoam: #04a790; //#34A293;
$primary: $navy !default;
$accent: #ffc107;
$link: #2470bd; //Lighter blue for links


//Begin Styling


//Typography

h1, h2, h3, h4 {
  font-family: adriane, serif;
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $font-size-base * 1.35;
  text-transform: uppercase;
  color: $navy;
  box-shadow: 0 5px 0 -1px $seafoam;
  display: inline-block;
  font-weight: 600;
  line-height: 1.4;
}
h5 {
  font-size: $font-size-md;
  font-family: $font-family-base;
  line-height: 1.35rem;
  font-weight: 500;
}
a {
  color: $link;
  font-weight: 500;
  &:hover {
    text-decoration: none;
    color: $link;
    background-color: lighten($link, 45%);
  }
}
small {
  font-weight: 500;
}
.name {
  color: $seafoam;
  font-family: adriane, serif;
  font-weight: 700;
  font-size: $h4-font-size;
}

.about {
  max-width: 725px;
}

.sidebar-nav {
  background-color: $navy;
  color: $white;
  max-width: 300px;
  min-height: 100vh;
  @media (min-width: 768px) {}
}
.intro-img {
  height: 30%;
  min-height: 240px;
  flex: 0 0 47%;
  max-width: 47%;
  transition: all 200ms;
  @include media-breakpoint-down(xs) {
    flex: 0 0 100%;
    max-width: 90%;
    margin-bottom: 20px;
    min-height: 180px;
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0.3rem .7rem rgba(0, 0, 0, 0.29) !important;

  }
  &--1 {
    background: url("/assets/images/intro-1.jpeg");
    background-position: bottom;
    background-size: cover;
  }
  &--2 {
    background: url("/assets/images/intro-4.jpeg");
    background-position: bottom;
    background-size: cover;
  }
}

.full-menu  {
  min-height: 100vh;
  background-color: $navy;
  color: $white;
}


.nav-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: $font-size-sm;
  font-family: adriane, serif;
  text-transform: uppercase;
  justify-content: space-between;; //for tablet breakpoint
  &--mobile {
    flex-direction: column;
    font-size: $font-size-x-lg;
  }

  a {
    color: $white;
    &:hover {
      text-decoration: none;
      -webkit-box-shadow: 0px 6px 0px 0px $seafoam;
      -moz-box-shadow: 0px 6px 0px 0px $seafoam;
      box-shadow: 0px 6px 0px 0px $seafoam;
      background-color: transparent;
    }
  }

  .active {
    -webkit-box-shadow: 0px 6px 0px 0px $accent;
    -moz-box-shadow: 0px 6px 0px 0px $accent;
    box-shadow: 0px 6px 0px 0px $accent;
    &:hover {
      text-decoration: none;
      -webkit-box-shadow: 0px 6px 0px 0px $accent;
      -moz-box-shadow: 0px 6px 0px 0px $accent;
      box-shadow: 0px 6px 0px 0px $accent;
    }

  }
  @media (min-width: 768px) {
    flex-direction: column;
    font-size: $font-size-base;
  }
  li {
    margin-bottom: $spacer*1.25;
    margin-left: $spacer*1.25;
    @media (min-width: 768px) {
      margin-left: 0px;
    }
    @media (max-width: 768px) {
      margin-left: 0px;
      margin-bottom: $spacer*1.5;
    }
  }
}


.header-nav {
  background-color: $navy;
  color: $white;
  // max-width: 300px;
  height: 70px;
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 768px) {
    display: hide;
  }
}
.horizontal-menu {
  max-height: 30px;
  width: 80%;
  max-width: 325px;
}
.logo-styled {
  font-family: adriane, serif;
  @media (min-width: 768px) {
    font-size: $h3-font-size;
    line-height: $h3-font-size;
  }
  font-size: $h5-font-size;
  line-height: $h5-font-size;
  a {
    color: #FFFFFF;
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.cait-icon {
   img {
     width: 27px;
     height: auto;
  }
}

.headshot {
  height: 165px;
  width: auto;
}

.caption {
  border-radius: 3px;
  border-left: 4.5px solid $seafoam;
  padding-left: 10px;
  max-width: 500px;
  margin-top: 24px;
  @include media-breakpoint-up(md) {
    margin-left: 16px !important;
    margin-top: 0 !important;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: $seafoam;
  color: $white;
  bottom: 0;
  height: 50px;
  align-items: center;
}

//layout

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

.cv-page-heading {
  max-width: 900px;
  margin: 0;
  align-items: center;
}
.content-section{
  background-color: $gray-150;
  border-radius: .2rem;
  max-width: 1000px;
}
.cv-section {
  margin-bottom: 2rem;
}
.cv-item {
  margin-bottom: 1.5rem;
  a {
    word-break: break-all;
    overflow-wrap: break-word;
  }
}
.year {
  font-size: $font-size-base;
  color: $navy;
  font-weight: 600;
  min-width: 60px;
  margin-bottom: .75rem;
  @media only screen and (max-width: 425px) {
    white-space: nowrap;
  }
}


img.img-group {
  width: 100%;
}
